@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FiraGO';
  src: url('./assets/fonts/FiraGO-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraGO';
  src: url('./assets/fonts/FiraGO-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FiraGO';
  src: url('./assets/fonts/FiraGO-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeue-Heavy.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.page-width {
  max-width: 1596px;
  width: 100%;
  margin: 0 auto;
  @apply px-10;
}

body {
  @apply font-heading;
}

.font-case-on {
  font-feature-settings: "case" on;
}

input[type="radio"] {
  appearance: none;
  border: 1px solid #021526;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: relative;
}

input[type="radio"]:checked::after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #021526;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}